<!DOCTYPE html>
<html lang="fr">

<head>
	{% include meta.html %}
	<!-- Title -->
	<title>{% if page.title %}{{page.title}} | {% endif %}{{site.title}}</title>
	<link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon">
	<!-- External CSS & JS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@6.6.6/css/flag-icons.min.css" />
	<!-- Internal CSS & JS -->
	<link rel="stylesheet" href="/assets/scss/style.css">
	<script src="assets/js/fcts.js"></script>
</head>

<body>
	<div class="container p-4">