{% if paginator.total_pages > 1 %}

{% assign totalPages = paginator.total_pages %}
{% assign currentPage = paginator.page %}

{% assign startPage = currentPage | minus: 2 %}
{% assign endPage = currentPage | plus: 2 %}

{% if startPage < 1 %}
{% assign startPage = 1 %}
{% assign endPage = 5 %}
{% endif %}

{% if endPage > totalPages %}
{% assign endPage = totalPages %}
{% assign startPage = totalPages | minus: 4 %}
{% endif %}
<p class="d-block text-center">Page {{ currentPage }}/{{ totalPages }}</p>
<nav aria-label="Navigation des pages d'annonces" class="my-2">
	<ul class="pagination pagination-lg justify-content-center">
		{% if paginator.previous_page %}
		<li class="page-item">
			<a href="{{ paginator.previous_page_path }}" class="page-link rounded-start-pill">
				<i class="fa-solid fa-left"></i><span class="d-none d-sm-inline d-md-none d-lg-inline"> Précédent</span>
			</a>
		</li>
		{% else %}
		<li class="page-item disabled">
			<span class="page-link rounded-start-pill">
				<i class="fa-solid fa-left"></i><span class="d-none d-sm-inline d-md-none d-lg-inline"> Précédent</span>
			</span>
		</li>
		{% endif %}

		{% if startPage > 1 %}
		<li class="page-item d-none d-md-inline">
			<a href="/annonces" class="page-link">
				1
			</a>
		</li>
		{% if startPage > 2 %}
		<li class="page-item disabled d-none d-md-inline">
			<span class="page-link">
				...
			</span>
		</li>
		{% endif %}
		{% endif %}

		{% for page in (startPage..endPage) %}
		{% if page == currentPage %}
		<li class="page-item active">
			<span class="page-link">{{ page }}</span>
		</li>
		{% elsif page == 1 %}
		<li class="page-item d-none d-md-inline">
			<a href="/annonces" class="page-link">
				{{ page }}
			</a>
		</li>
		{% else %}
		<li class="page-item d-none d-md-inline">
			<a href="{{ site.paginate_path | replace: ':num', page }}" class="page-link">
				{{ page }}
			</a>
		</li>
		{% endif %}
		{% endfor %}

		{% if endPage < totalPages %}
		{% assign lastPageBeforeDots = totalPages | minus: 1 %}
		{% if endPage < lastPageBeforeDots %}
		<li class="page-item disabled d-none d-md-inline">
			<span class="page-link">
				...
			</span>
		</li>
		{% endif %}
		<li class="page-item d-none d-md-inline">
			<a href="/annonces/page{{ totalPages }}" class="page-link">
				{{ totalPages }}
			</a>
		</li>
		{% endif %}

		{% if paginator.next_page %}
		<li class="page-item ">
			<a href="{{ paginator.next_page_path }}" class="page-link">
				<span class="d-none d-sm-inline d-md-none d-lg-inline">Suivant </span><i class="fa-solid fa-right"></i>
			</a>
		</li>
		{% else %}
		<li class="page-item disabled">
			<span class="page-link">
				<span class="d-none d-sm-inline d-md-none d-lg-inline">Suivant </span><i class="fa-solid fa-right"></i>
			</span>
		</li>
		{% endif %}
	</ul>
</nav>
{% endif %}