$font-size-base: 1.1rem;
$primary: #5452cf;

$theme-colors: map-merge($theme-colors, (
	"primary": $primary
));

// Pagination
$pagination-border-radius-lg: $border-radius-pill;

$pagination-bg: #5452cf;
$pagination-color: #fff;
$pagination-border-color: #5452cf;

$pagination-active-color: #000;
$pagination-active-bg: #fff;
$pagination-active-border-color: #5452cf;

$pagination-hover-color: #000;
$pagination-hover-bg: #fff;
$pagination-hover-border-color: #5452cf;

$pagination-disabled-color: #fffc;
$pagination-disabled-bg: #3f3d9c;
$pagination-disabled-border-color: #5452cf;

$pagination-focus-color: #000	;
$pagination-focus-bg: #fff;
