.navbar-nav {

	.nav-link {
		border-radius: $border-radius-pill;
		color: $white;

		&.active {
			background-color: $white;
			color: $black;
		}

		&:hover {
			background-color: $white;
			color: $black;
		}
	}
}