.pagination {
	.page-item {
		border: 5px solid $color-primary;
		background-color: $color-primary;
		color: white;

		&:first-child {
			border-radius: $border-radius-pill 0 0 $border-radius-pill;
		}
		&:last-child {
			border-radius: 0 $border-radius-pill $border-radius-pill 0;
		}
	}

	.page-link {
		border: 0;
		border-radius: $border-radius-pill;
	}
}