---
layout: compress
---

{% include head.html %}
{% include header.html %}
<main id="contenu">
	<section id="formations" class="p-3">
		<h2><i class="fa-solid fa-graduation-cap" role="img" aria-hidden="true"></i> Formations</h2>
		<ul class="list-group py-2 w-fit">
			<li class="list-group-item"><strong>2013</strong> D.U. Contactologie - Bordeaux</li>
			<li class="list-group-item"><strong>2013</strong> D.U. Basse Vision - Lyon</li>
			<li class="list-group-item"><strong>2000</strong> Ophtalmologue - Budapest(Hongrie)</li>
			<li class="list-group-item"><strong>1995</strong> Diplôme d'État de docteur en médecine - Szeged (Hongrie)
			</li>
		</ul>
	</section>
	<section id="experience" class="p-3">
		<h2><i class="fa-solid fa-briefcase" role="img" aria-hidden="true"></i> Experience</h2>
		<ul class="list-group py-2 w-fit">
			<li class="list-group-item"><strong>Depuis 2009</strong> Cabinet - Brumath</li>
		</ul>
	</section>
	<section id="langues" class="p-3">
		<h2><i class="fa-solid fa-messages" role="img" aria-hidden="true"></i> Langues parlées</h2>
		<ul class="list-group list-group-horizontal py-2 w-fit">
			<li class="list-group-item"><span class="fi fi-fr"></span> Français</li>
			<li class="list-group-item"><span class="fi fi-gb"></span> Anglais</li>
			<li class="list-group-item"><span class="fi fi-hu"></span> Hongroie</li>
		</ul>
	</section>
</main>
{% include footer.html %}
{% include foot.html %}